<footer>
  <small>
    © 2020 <a target="_blank" href="/" title="Federation of Telugu Associations in Australia">Federation of Telugu Associations in Australia </a> | 
    <span class="designer">Powered by <a href="https://vjdesign.com.au/" target="_blank" title="Theme development and design by VJ design">VJ design</a></span>
  </small>
</footer>
